<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target name="error_log" xsi:type="File" fileName=".\logs\error.log" />
		<target name="info_log" xsi:type="File" fileName=".\logs\info.log" />
		<target name="warn_log" xsi:type="File" fileName=".\logs\warn.log" />
	</targets>

	<rules>
		<logger name="*" level="Error" writeTo="error_log" />
		<logger name="*" level="Info" writeTo="info_log" />
		<logger name="*" level="Warn" writeTo="warn_log" />
	</rules>
</nlog>